/* <=1200px */
@media only screen and (max-width: 1200px) {

}
/* <1024px */
@media only screen and (max-width: 1024px) {
  #carouselExampleIndicators {
    width: 95%;
  }
  .Problems {
    align-items: center;
  }
  .card-body h5,
  .card-body a {
    font-size: 24px;
    margin: 10px 0 10px 5px;
  }
  .card-body p {
    font-size: 18px;
    margin-left: 10px;
  }
  .DN button {
    width: 150px;
    font-size: 18px;
  }
  /* feedback */
  #feedback .col-6 {
    width: 100%;
    margin: 5px 0;
  }
  #feedback p {
    width: 100%;
    font-size: 18px;
  }
  /* about */
  .about p{
    font-size: 1.6rem !important;
  }
  .about h1:not(.about div:first-child h1:first-child){
    font-size: 2rem !important;
  }
  /* shop equipment*/
  .equipmentsitem {
    width: 75%;
    margin: auto;
  }
  .equipmentsitem .product-content {
    flex-direction: column !important;
  }
  .equipmentsitem .product-content a {
    text-align: center;
  }
  /* background-top */
  .background-top a {
    top: 75%;
    left: 69%;
  }
  /* massage */
  .opentime {
    width: 100% !important;
  }
  /* feedback2 */
  .feedback2 .feedback2-title{
    width: 60%;
  }
}
/* <768*/
@media only screen and (max-width: 767px) {
  .card-body h5 {
    font-size: 1.8rem !important;
  }
  .cardd a {
    font-size: 1.6rem;
  }
  .background-top {
    padding-top: 80% !important;
  }
  .carousel-item div {
    flex-direction: column;
    align-items: center;
  }
  .carousel-item div p {
    height: 330px;
  }
  .carousel-item div p {
    width: 80%;
    margin: 10px 0;
    font-size: 1.4rem !important;
  }
  p,
  ul li {
    font-size: 1.6rem !important;
  }
  h1 {
    font-size: 2.5rem !important;
  }
  /* problem we treat */
  .bodytop-background {
    padding-top: 45%;
  }
  .bodytop-background-content {
    left: 50px;
    top: 45%;
    max-width: 300px;
    font-size: 2rem;
  }
  .discsyndrome,
  .pneumexpneuback {
    padding: 0 30px !important;
  }
  .pneumexpneuback .img1 img,
  .discsyndrome .img1 img {
    width: 70% !important;
  }
  /* content */
  .contact-body h1 {
    font-size: 36px;
    text-align: center;
  }
  .contact-body-content {
    flex-direction: column;
  }
  .contact-body-content div {
    width: 100% !important;
  }
  /* feedback */
  .feedback .d-flex {
    flex-direction: column;
  }
  .feedback .d-flex div {
    width: 80%;
    margin: 0% auto;
  }
  /* footer */
  .footer {
    text-align: center;
  }
  /* shop products */
  .equipmentsname h3:first-child {
    height: 70px !important;
  }
  /* cart */
  .name {
    width: 200px;
  }
  /* feedback2 */
  .feedback2-title h3,
  .feedback2-title p {
    /* width: 80% !important; */
    margin: auto;
  }
  .feedback2-title h3{
    font-size: 3rem !important;
  }

  /* background-top */
  .background-top a {
    top: 70%;
    left: 5%;
  }
  /* message */
  .content-massage {
    width: 100%;
  }
  /* started */
  .background-start-content h1{
    font-size: 3rem !important;
  }
  .background-start-content p{
    font-size: 2rem !important;
  }
}
/* <=576 */
@media only screen and (max-width: 576px) {
  .background-top {
    padding-top: 195% !important;
  }
  .background-content .background-text {
    width: 80%;
    font-size: 20px;
  }
  .background-content .background-title {
    font-size: 28px;
  }
  .dropdown:hover .dropdown-menu-first div,
  .dropdown:hover .dropdown-menu-second div {
    flex-direction: column !important;
  }
  /* prouduct */
  .owl-stage-outer::after,
  .owl-stage-outer::before {
    display: none;
  }
  .owl-stage img {
    width: 240px !important;
    margin: 0 auto !important;
  }
  /* login box */
  .background-signup-content {
    height: 350px;
  }
  #name,
  .sex {
    flex-direction: column;
  }
  #name input,
  .sex div {
    width: 100%;
  }
  .birthday label {
    display: none;
  }
  /* feedback */
  .feedback img {
    width: 100% !important;
  }
  /* copyright */
  .copyright {
    width: 100%;
    text-align: center;
  }
  .copyright h3 {
    margin-top: 20px;
  }
  /* products shop */
  .menu1 {
    width: 100% !important;
    margin: auto;
  }
  .background-signup .btn {
    font-size: 1.4rem;
  }
  /* cart */
  .cart-item tr th:nth-child(2),
  .cart-item tr th:nth-child(3),
  .cart-item tr th:nth-child(4),
  .cart-item tr td:nth-child(2),
  .cart-item tr td:nth-child(3),
  .cart-item tr td:nth-child(4) {
    display: none;
  }
  .cart-item table tr td .btn-group {
    top: 80% !important;
    right: 120px !important;
    width: 30px !important;
    height: 30px !important;
  }
  .cart-item table tr td .btn-group input,
  .cart-item table tr td .btn-group button {
    width: 44px !important;
    line-height: 20px;
  }
  .cart-item table tr td .btn-group button:first-child {
    border: 1px solid #8abcf5;
    border-right: none;
  }
  .cart-item table tr td .btn-group button:last-child {
    border: 1px solid #8abcf5;
    border-left: none;
  }
  .cart-item table tr td .btn-group input {
    border: 1px solid #8abcf5;
    border-left: none;
    border-right: none;
  }
  .cart-item table tr td .btn-group input:focus {
    outline: none;
  }
  .total-mb {
    width: auto !important;
    top: 80% !important;
    right: 2% !important;
  }
  .close-mb {
    position: absolute;
    bottom: 17px;
    left: 101px;
  }
  .name {
    font-size: 13px;
  }
  /* feedback2 */
  .feedback2-title h3,
  .feedback2-title p {
    /* width: 50%; */
    margin: auto;
  }
  .feedback2 .feedback2-title{
    width: 80%;
  }
  /* background-top */
  .background-top a {
    top: 60%;
    left: 5%;
  }
    /* started */
    .background-start-content h1{
      font-size: 2.6rem !important;
    }
    .background-start-content p{
      font-size: 1.8rem !important;
    }
    .background-start-content {
      width: 90%;
    }
    /* service */
    .service h3{
      font-size: 2rem !important;
    }
    /* about */
    .about div:first-child{
      width: 100% !important;
    }
}
