
/* product */
.products{
    max-width: 1100px !important;
    margin: 77.2px auto 0 auto !important;
}

.products div:last-child .menu1 img{
    height: 100%;
    max-width: 100%;
    margin: 10px 0;
}
.products div:last-child .menu1{
    text-align: center;
    margin-bottom: 10px;
}
.product-content .NameProduct{
    height: 40px !important;
    font-weight: 500;
    font-size: 1.6rem;
}
.product-content .Money{
    font-weight: 400;
}
.products .product-content{
    border: 1px solid #8abcf5;
    border-radius: 7px;
    height: 100% !important;
    box-shadow: 0px 0px 3px #8abcf5;
}
.product-content button{
    height: 40px;
    color: #4490e7;
    font-weight: 600;
    border-color: #8abcf5;
    box-shadow: 0px 0px 3px #8abcf5;
}
.product-content button:hover{
    background-color: #8abcf5;
    border-color: #57a2f7;
}
/* info product */
.product-content #infoproduct{
    position: fixed;
    visibility: hidden;
    /* background-color: #fff; */
    background-color: rgba(255, 255, 255, 0.9);
    width: 400px;
    border-color: #8abcf5;
    box-shadow: 0px 0px 3px #8abcf5;
    border-radius: 7px;
    padding: 15px;
    color: black;

}
.product-content a:hover #infoproduct{
    visibility: visible;
}
/* menu */
.btn-products{    
    width: 100%;
    height: 100%;
    padding: 5px 20px;
    border: 1px solid #5ea2ef !important;
    border-radius: 7px !important;
}
.menu-products{
    width: 92%;
    display: none;
}
.products div:first-child input{
    padding: 5px 20px;
    border: 1px solid #5ea2ef !important;
    border-radius: 7px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.products div:first-child input:focus{
    border: 1px solid #5ea2ef !important;
}
.products div:last-child .product-content div:first-child{
    height: 165px;
}
.products ul{
    list-style-type: none;
    padding-left: 0 !important;
}
.products .col-12 p,
.products .col-12 a{
    margin: 0%;
    font-size: 1.8rem;
    text-decoration: none;
    display: block;
}
.products .col-12 p::selection,
.products .col-12 a::selection{
    background-color: transparent;
}
.products .col-12:first-child p:hover,
.products .col-12:first-child a:hover{
    cursor: pointer;
    color: white;
}
.products .col-12 a{
    font-weight: 300;
    font-size: 1.6rem;
}
.products .col-12 ul{
    display: none;
    height: 0;
    z-index: 1;
    overflow: hidden;
    margin-bottom: 0;
}
#nameinfo:hover,
.menu-products .dropdown-item:hover{
    cursor: pointer;
    background-color: rgba(187, 227, 250, 0.4)
}
.search{
    width: 50px;
    border: 1px solid #5ea2ef !important;
    border-radius: 7px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0% !important;
    background-color: transparent;
    font-size: 18px;
    border-left: none !important;
    padding-top: 3px;
    opacity: 0.6;
}

/* product info */
.product-info{
    max-width: 700px !important; 
    margin-top: 5%;
    border: 1px ;
    border-color: #8abcf5;
    box-shadow: 0px 0px 3px #8abcf5;
    border-radius: 7px;
}
.product-info .product-content div:first-child{
    text-align: center;
}

.product-content a{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.product-content:hover img{
    animation: zoom ease 0.5s;
    transform: scale(1.12);
}

@keyframes zoom {
  from{
    transform: scale(1);
  }
  to{
    transform: scale(1.12);
  }
}

.cart{
    min-height: 700px;
}

.cart-item div[class=btn-group] button,
.cart-item div[class=btn-group] input{
    width: 35px;
    border: 1px solid #8abcf5;

}
.cart-item div[class=btn-group] input{
    border-right: none;
    border-left: none;
    outline: none;
}
.cart-item div[class=btn-group] button:first-child{
    border-right: none;
}
.cart-item div[class=btn-group] button:last-child{
    border-left: none;
}
.cart-item table{
    display: none;
}
.cart-item-content button:not(.cart-item div[class=btn-group] button){
    height: 40px;
    color: #4490e7;
    font-weight: 600;
    border-color: #8abcf5;
    box-shadow: 0px 0px 3px #8abcf5;
    margin-bottom: 10px;
}
.product-info-content button:hover:not(.product-info div[class=btn-group] button){
    background-color: #8abcf5;
    border-color: #57a2f7;
    color: white;
}
.equipmentsname h3:first-child{
    height: 70px !important;
}
/* dataproduct */
.DataProduct img{
    max-height: 100%;
    min-height: 350px;
    max-width: auto;
    margin: 10px;
}
.DataProduct div:first-child{
    height: 422px;
    /* width: auto; */
    margin: 10px;
}

/* cart */
.cart{
    margin-top: 82.2px !important;
    max-width: 900px !important;
}
.cart .cart-container{
    border: 1px solid black;
    border-radius: 7px;
    padding: 20px !important;
    border-radius: 7px;
    border: 1px solid #8abcf5;
    box-shadow: 0px 0px 3px #8abcf5;
}
.cart .cart-top h1{
    font-weight: 500;
}

.cart .list-item .cart-item p{
    font-size: 1.4rem;
}

.cart .cart-item{
    display: flex;
    justify-content: space-between;
}
.proceed{
    color: #4490e7 !important;
    font-weight: 600;
    border: 1px solid #8abcf5;
    box-shadow: 0px 0px 3px #8abcf5;
}
.cart-bot-container hr,
.cart-bot-container .cart-bot
{
    display: none;
}

.cart-item table tr th:first-child{
    width: 450px;
}
.cart-item table tr td img{
    height: 80px;
}
.cart-item table tr td .img-product{
    /* width: 100px; */
    height: 100px;
    text-align: center;
}
.cart-item table tr td{
    position: relative;
}
.cart-item table tr td p,
.cart-item table tr td .btn-group,
#close{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}
.cart-item #close{
    color: black;
    opacity: 0.4;
}
.cart-item #close:hover{
    cursor: pointer;
    opacity: 0.6;
}

/* nummber input edit */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}